@import url(https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo);

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;

}

body {
  background-color: white;

}
.board {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  padding: 6px;
  background-color: red;

}

.board>div {
  background-color: red;
  height: 90px;
  padding-left: 3px;
  padding-top: 1px;
}

.board>div>div {
  background-color: white;
  display: inline-block;
  width: 90px;
  height: 90px;
  overflow: hidden;
  text-align: center;
  font-size: 80px;
  line-height: 90px;
  font-family: 'Swanky and Moo Moo', cursive;
}

#row2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.box2, .box5, .box8 {
  margin-left: 2px;
  margin-right: 2px;
}
