@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
  background-color: #27A588;
}

h1 {
  text-align: center;;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 60px;
  color: white;
  margin-bottom: 15px;
}

.score {
display: flex;
flex-direction: row;
width: 390px;
height: 120px;
margin: 0 auto;
background-color: #27A588;
}

.XScore, .OScore, .XLabel, .OLabel {
  flex-grow: 1;
  margin: 0px;
  flex-basis: 100%;
  text-align: center;
  font-family: 'Love Ya Like A Sister', cursive;
}

.XScore, .OScore {
  font-size: 40px;
  color: white;
  line-height: 125px;
}

.XLabel, .OLabel {
  font-size: 80px;
  color: white;
  line-height: 125px;
}

.board {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

.board>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #27A588;
  flex-grow: 1;
  flex-basis: 100%;
}

.board>div>div {
  flex-grow: 1;
  margin: 5px;
  background-color: #27A588;
  flex-basis: 100%;
  text-align: center;
  font-size: 80px;
  color: white;
  line-height: 125px;
  font-family: 'Love Ya Like A Sister', cursive;
  box-shadow: 0px 0px 60px #1D7C66 inset;
}

.board>div>div:hover {
  box-shadow: 0px 0px 60px #30CFAA inset;
}

.O:not(.placed):hover {
  background-image: url('../images/O.png');
}

.X:not(.placed):hover {
  background-image: url('../images/X.png');
}

.highlight {
  box-shadow: 0px 0px 60px #30CFAA inset;
}
